<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>{{ titre }}</h1>
  <p>{{ paragraphe }}</p>
  <ion-grid>
    <ion-row>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> Card Content </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>


  <ion-button>Valider</ion-button> <ion-button [disabled]="true">Annuler</ion-button>
  <ion-button routerLink="list-event">Ouvrir list</ion-button>
  <ion-button >open event</ion-button>
</ion-content>