<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2 id="pageTitle"> Connectez vous  </h2>
  <form [formGroup]="formulaireLogin" >
    <ion-list>
      <ion-item>
        <ion-label position="floating"> Login </ion-label>  
        <ion-input formControlName="email"  type="text" > </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Mot de passe </ion-label>
        <ion-input formControlName="password"  type="password" > </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" shape="round" (click)="login()" [disabled]="!formulaireLogin.valid" > Connexion </ion-button>
  </form>

</ion-content>